
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@tailwind base;

* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(207, 207, 207);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }

@tailwind components;
@tailwind utilities;